#p1 {
    display: none;
}

#p2 {
    display: inline-block;
    border: 5px greenyellow solid;
    width: 100px;
    height: 20px;
    background-color: aqua;
}

#p3 {
    display: inline-block;
    margin-left: 20px;
    border: 5px greenyellow solid;
    background-color: bisque;
}

#p4 {
    margin: 10px 0 10px 0;
}

.inline {
    display: inline;
}

img {
    width: 100%;
}

.bio {
    width: 100%;
    background-color: orange;
    padding: 10px;
    box-sizing: border-box;
}

header {
    max-width: 500px;
    display: inline-block;
}

main {
    display: inline-block;
}


/* browseriin orgonoos hamaar ch oorchlogddog vw */

section {
    height: 20vh;
    width: 40vw;
}

section:nth-child(1) {
    background-color: red;
}

section:nth-child(2) {
    background-color: green;
}

section:nth-child(3) {
    background-color: blue;
}

section:nth-child(4) {
    background-color: magenta;
}